<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net45" />
  <package id="CommentAnalyzer" version="1.0.5713.27258" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="Ookii.Dialogs.Wpf" version="1.0.0" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net45" />
</packages>