<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatRecordingManager.BatReference" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BatRecordingManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="WinBLPdB.Properties.Settings.BatReferenceDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BatReferenceDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <BatRecordingManager.BatReference>
      <setting name="DarkSkyApiKey" serializeAs="String">
        <value>f504793a85486e3f7a09c9b697225fc7</value>
      </setting>
      <setting name="BingMapsKey" serializeAs="String">
        <value>AhhVL9x6bq6w0NbyqlwjmXDh3Qd64GbWowQQlFzrqx0ChD1MvaLkMTDQxuh2bhzh</value>
      </setting>
    </BatRecordingManager.BatReference>
    <BatRecordingManager.Properties.Settings>
      <setting name="BatReferenceDBv5_31ConnectionString2" serializeAs="String">
        <value>"Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=.\\BatReferenceDBv5.31.mdf;IntegratedSecurity=False,Connect Timeout=60"</value>
      </setting>
      <setting name="BingMapsLicenseKey" serializeAs="String">
        <value>AhhVL9x6bq6w0NbyqlwjmXDh3Qd64GbWowQQlFzrqx0ChD1MvaLkMTDQxuh2bhzh</value>
      </setting>
      <setting name="DarkSkyApiKey" serializeAs="String">
        <value>f504793a85486e3f7a09c9b697225fc7</value>
      </setting>
    </BatRecordingManager.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>