<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WinBLPdB.Properties.Settings.BatReferenceDBConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BatReferenceDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="BatRecordingManager.Properties.Settings.BatReferenceDBConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BatReferenceDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="BatRecordingManager.Properties.Settings.BatReferenceDBConnectionString1"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jhalls\AppData\Roaming\Echolocation\WinBLP\BatReferenceDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="BatRecordingManager.Properties.Settings.BatReferenceDBv5_31ConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\justi\AppData\Roaming\Echolocation\WinBLP\Debug\BatReferenceDBv5.31.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="BatRecordingManager.Properties.Settings.BatReferenceDBv5_31ConnectionString1"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BatReferenceDBv5.31.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="BatRecordingManager.Properties.Settings.BatReferenceDBv5_31ConnectionString2"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Dist\BatReferenceDBv5.31.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>